Source: ros-rolling-rclpy
Section: misc
Priority: optional
Maintainer: Shane Loretz <sloretz@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-googletest <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-pytest <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, librcpputils-dev, librcutils-dev, librosidl-runtime-c-cpp-dev, pybind11-dev, python3-pytest <!nocheck>, python3-rcutils, ros-rolling-lifecycle-msgs, ros-rolling-python-cmake-module, ros-rolling-rcl, ros-rolling-rcl-action, ros-rolling-rcl-interfaces, ros-rolling-rcl-lifecycle, ros-rolling-rcl-logging-interface, ros-rolling-rcl-yaml-param-parser, ros-rolling-rmw, ros-rolling-rmw-implementation, ros-rolling-rmw-implementation-cmake, ros-rolling-rosidl-generator-py <!nocheck>, ros-rolling-test-msgs <!nocheck>, ros-rolling-unique-identifier-msgs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rclpy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libros-rosgraph-msgs-dev, librosidl-runtime-c-cpp-dev, python3-ament-index, python3-rosgraph-msgs, python3-yaml, ros-rolling-action-msgs, ros-rolling-builtin-interfaces, ros-rolling-lifecycle-msgs, ros-rolling-rcl, ros-rolling-rcl-action, ros-rolling-rcl-interfaces, ros-rolling-rcl-lifecycle, ros-rolling-rcl-logging-interface, ros-rolling-rcl-yaml-param-parser, ros-rolling-rmw, ros-rolling-rmw-implementation, ros-rolling-rpyutils, ros-rolling-unique-identifier-msgs, ros-rosgraph-msgs, ros-rolling-ros-workspace
Description: Package containing the Python client.
